{{> header}}
<div class="blog-detail">
    <h1>{{blog.title}}</h1>
    <p class="meta">Published on {{blog.create_date}}</p>

    {{#blog.preview_image}}
        <img src="/uploads/{{blog.preview_image}}" alt="Blog Image" class="blog-detail-image">
    {{/blog.preview_image}}
    <div class="blog-detail-text">
        <p class="short-text">{{blog.short_text}}</p>
        <div class="long-text">
            {{{blog.long_text}}}
        </div>
    </div>
    <a href="/" class="button">Zurück</a>
</div>
{{> footer}}