
{{> header}}

<h1>{{title}}</h1>
<p><strong>Author:</strong> {{author}}</p>
<p><strong>Date:</strong> {{date}}</p>

<div>
    <h3>Content:</h3>
    <p>{{content}}</p>
</div>

<a href="/">Back to Home</a>

{{> footer}}
