
{{> header}}
<h2> Recent posts</h2>
<h1>{{ heading }} blog posts</h1>
<p>{{ message }}</p>

<h2>Blog Previews:</h2>
<ul>
    {{#blog}}
        <li>
            <h3>{{title}}</h3>
            <p>{{short_text}}</p>
            {{#preview_image}}
                <img src="{{preview_image}}" alt="Preview Image" style="max-width: 200px;" />
            {{/preview_image}}
            <a href="/dashboard/blog/{{id}}">Read More</a>
        </li>
    {{/blog}}
</ul>

{{> footer}}
