<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="/js/upload.js"></script>
</head>
<body style="background: #0e1013">
<div class="header">
    <div class="header-box"></div>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrieren</a></li>
        </ul>
    </nav>
</div>
<div class="header">
    <div class="right">
        <div class="header-icons">
            <div class="icon-lupe"></div>
            <a href="/dashboard">
                <div class="icon-user"></div>
            </a>
        </div>
    </div>
</div>

<div class="hero">
</div>

<div class="content">
    <div class="content-background">
        <h2 class="index-gradient">Recent Posts</h2>
        <h1>BLOG POSTS</h1>

        <ul class="blog-preview">
            {{#blogs}}
                <li class="blog-item {{#even}}{{/even}} {{^even}}odd{{/even}}">
                    <div class="blog-image">
                        {{#preview_image}}
                            <div class="blog-image">
                                <img src="/uploads/{{preview_image}}" alt="{{title}}"/>
                            </div>
                        {{/preview_image}}
                    </div>
                    <div class="blog-post">
                        <h2>{{title}}</h2>
                        <p>{{short_text}}</p>
                    </div>
                </li>
            {{/blogs}}
        </ul>

    </div>
    
{{> footer}}