{{> header}}
<div class="signup-inh">
    <div class="signup-header">
        <h1> Login </h1>
    </div>
    <form action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Username" required />
        <input type="password" id="password" name="password" placeholder="password" required />
        <button type="submit">Login</button>
    </form>
</div>
<div class="signup-img">

</div>

{{> footer}}