{{> header}}

<h1> Login </h1>

<p>Alllo</p>

<form action="/login" enctype="multipart/form-data" method="post">
    Username: <input type="text" name="email"><br>
    Password: <input type="password" name="passwort"><br>
    <input type="submit">
</form>

{{> footer}}