{{> header}}

<div class="signup-inh">
<div class="signup-header">
    <h1> Registrieren </h1>
</div>
{{#error}}
    <p style="color: red;">{{error}}</p>
{{/error}}
<form action="/register" method="post">

    <input type="text" id="username" name="username" placeholder="username" required />


    <input type="password" id="password" name="password" placeholder="password" required />


    <input type="text" id="first_name" name="first_name" placeholder="Vorname" required />


    <input type="text" id="last_name" name="last_name" placeholder="Nachname" required />

    <button type="submit">Registrieren</button>
</form>
</div>
<div class="signup-img">

</div>
{{> footer}}


{{> footer}}