{{> header}}

<h1> Register </h1>

<form action="/register" enctype="multipart/form-data" method="post">
    Username: <input type="text" name="email"><br>
    Password: <input type="password" name="passwort"><br>
    Profile Picture: <input type="text" name="profile_picture"><br>
    Firstname: <input type="text" name="first_name"><br>
    Lastname: <input type="text" name="last_name"><br>
    Info: <input type="text" name="info"><br>
    <input type="submit">
</form>

{{> footer}}